.row-fluid
  h1.page-header
    | The Elevator Pitch 
    small For the lazy and impatient.
  p
    code ng-harp-boilerplate
    |  is an opinionated kickstarter for web
    | development projects. It's an attempt to create a simple starter for new
    | web sites and apps: just run it on harp and start coding. The goal is to
    | have everything you need to get started out of the box; of course it has
    | slick styles and icons, but it also has a best practice directory structure
    | to ensure maximum code reuse.
  

  h2 What ng-harp-boilerplate Is Not
  p 
    code ng-harp-boilerplate
    |  is not 
    code ng-boilerplate
    |  it is however heavily inspired by <code>ng-boilerplate</code> and makes use of the directory structure, assets and initial app layout, however it removes some of the complexity of the enviroment. Harp requires ZERO configuration and so does this boilerplate.

  p
    | This is not an example of an AngularJS app. This is a kickstarter. If
    | you're looking for an example of what a complete, non-trivial AngularJS app
    | that does something real looks like, complete with a REST backend and
    | authentication and authorization, then take a look at
    code
      a(href='https://github.com/angular-app/angular-app/') angular-app
    | ,
    | which does just that, and does it well.
