.jumbotron
  h1 Non-Trivial AngularJS Made Easy
  p.lead
    | Everything you need to kickstart AngularJS projects: a best-practice
    | directory structure built on the amazing Harp Web Server.

  .btn-group
    a.btn.btn-large.btn-success(href='http://www.harp.io/apps/new?boilerplate=silentrob/hb-ng-harp-boilerplate')
      | Create this on Harp Platform
  .marketing
    .row
      .span4.market-item
        h4
          i.icon-thumbs-up
          | Good to Go!
        p Kickstarts your project quickly, with everything you need, so you can focus on what matters: your app.
      .span4.market-item
        h4
          i.icon-magic 
          | Harp Ready
        p This Boilerplate is built specifically for the <a href="http://harpjs.com">Harp Server</a> and <a href="http://harp.io">Harp Platform</a>.
      .span4.market-item
        h4
          i.icon-retweet 
          | Modularization
        p Supports a structure that maintains separation of concerns while ensuring maximum code reuse.
    .row
      .span4.market-item
        h4
          i.icon-star 
          | AngularJS
        p JavaScript framework that augments browser-based, single-page applications with MVC functionality. 
          a(href='http://angularjs.org') More »
      .span4.market-item
        h4
          i.icon-resize-small 
          | LESS CSS
        p The dynamic stylesheet language that extends CSS with efficiency. 
          a(href='http://lesscss.org') More »
      .span4.market-item
        h4
          i.icon-twitter 
          | Twitter Bootstrap
        p Sleek, intuitive, and powerful front-end framework for faster and easier web development. 
          a(href='http://getbootstrap.com') More »
    .row
      .span4.market-item
        h4
          i.icon-circle 
          | Angular UI Bootstrap
        p Pure AngularJS components for Bootstrap written by the 
          a(href='https://github.com/angular-ui?tab=members') AngularUI Team.
          
          a(href='http://angular-ui.github.com/bootstrap') More »
      .span4.market-item
        h4
          i.icon-flag 
          | Font Awesome
        p The iconic font designed for use with Twitter Bootstrap. 
          a(href='http://fortawesome.github.com/Font-Awesome') More »
      .span4.market-item
        h4
          i.icon-asterisk 
          | Placeholders
        p Client-side image and text placeholder directives written in pure
          | AngularJS to make designing mock-ups wicked-fast. 
          a(href='http://joshdmiller.github.com/angular-placeholders') More »
